.container {
  display: flex;
  /* gap: 10px; */
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding-right: 20px;
}

.inputSearchContainer {
  flex-grow: 1;
  padding: 0 20px;
  max-width: 350px;
}

.inputSearch {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding-left: 20px;
  height: 40px;
  font-size: 1.5rem;
}

.buttonContainer {
  max-width: 100px;
  flex-grow: 1;
}

.searchButton {
  font-size: 1.5rem;
  width: 100%;
  border: none;
  color: #fff;
  height: 40px;
  border-radius: 15px;
  background-color: #007bff;
}
